<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chating APP</title>
</head>

<body>
    <h1>Chatting Inside <%= roomid %>
    </h1>
    <input type="text" id="chat_box">
    <button id="send">send</button>
    <ul id="msg_list"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        let input = document.getElementById("chat_box");
        let msgList = document.getElementById("msg_list");
        let send = document.getElementById("send");

        // wheneer redner the page we will gion the room
        socket.emit('join_room', {
            roomid : '<%= roomid%>',

        })

        send.addEventListener("click", () => {
            let msg = input.value;
            socket.emit('new_message', {
                message: msg,
                roomid:'<%= roomid%>',
                sender: '<%= user%>'
            })
            // input.value = ""
        })

        socket.on('msg_recieved', (data) => {
            let msg = document.createElement("li");
            msg.textContent =  data.sender + ' - ' + data.message;
            msgList.appendChild(msg)
        })

    </script>

</body>

</html>